[MASTER]

[MESSAGES CONTROL]
disable = C0103,C0301,R0801

[FORMAT]
max-line-length = 120

[BASIC]

[DESIGN]

[IMPORTS]

[TYPECHECK]

[VARIABLES]

[SIMILARITIES]

[CLASSES]

[FILES]

[FUNCTIONS]

[EXCEPTIONS]

[DJANGO]

[BASIC]

[USABILITY]

[FORMATTING]

[REFCTORING]

[SPACING]
